/* TODO Reset */

html {
	height: 100%;
}

body {
	height: 100%;
}

header h1 {
	text-transform: uppercase;
	font-weight: normal;
	font-style: normal;
	text-align: center;
}

#map_canvas {
	width: 960px;
	height: 720px;
	margin: 0px auto;
}

section#menu {
	width: 960px;
	margin: 0px auto;
}

section#menu #faux-select {
	background: #B5B5B5;
	width: 300px;
	text-transform: uppercase;
	text-align: center;
	padding: 5px;
}

section#menu ul {
	display: none;
	list-style-type: none;
	background: rgba(0,0,0,0.3);
}

section#menu ul li {
	padding: 3px 10px;
	color: white;
}

section#menu ul li:hover {
	background: #000;
}

#json_data {
	display: none;
}