/* TODO Reset */

html {
	height: 100%;
}

body {
	height: 100%;
}

header h1 {
	text-transform: uppercase;
	font-weight: normal;
	font-style: normal;
	text-align: center;
	margin: 20px;
}

#map_canvas {
	width: 800px;
	height: 600px;
	margin: 0px auto;
}

#map_canvas .place-info-overlay h2 {
	text-transform: uppercase;
	text-align: center;
}

#faux-select-wrapper {
	position: relative;
	margin: 0px auto;
	width: 800px;
}

#faux-select-wrapper #faux-select {
	position: absolute;
	bottom: 0px;
	left: 0px;
	background: #fff;
	width: 300px;
	text-transform: uppercase;
	text-align: center;
	padding: 10px 10px;
/*	border-style: solid;
	border-width: 0 0 10px 10px;
	border-color: transparent transparent #A6781E #FFC85B;*/
}

/* Top left corner */
/*#faux-select-wrapper #faux-select:before {
	content: "";
	position: absolute;
	height: 0;
	width: 0;
	top: 0px;
	left: -10px;
	border-style: solid;
	border-width: 5px;
	border-color: #fff transparent transparent #fff;
}*/

/* Bottom right corner */
/*#faux-select-wrapper #faux-select:after {
	content: "";
	position: absolute;
	height: 0;
	width: 0;
	bottom: -10px;
	right: 0px;
	border-style: solid;
	border-width: 5px;
	border-color: transparent #B5C4D0 #B5C4D0 transparent;
}*/

#faux-select-wrapper #menu {
	display: none;
}

#faux-select-wrapper #menu ul {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 320px;
	list-style-type: none;
	background: rgba(0,0,0,0.8);
}

#faux-select-wrapper #menu ul li {
	padding: 10px 10px;
	text-align: center;
	text-transform: uppercase;
	color: white;
}

#faux-select-wrapper #menu ul li:hover {
	background: #000;
	color: red;
}

#info_block {
	display: none;
	width: 800px;
	height: 200px;
	margin: 0 auto;
	background: #B5C4D0;
}

#json_data {
	display: none;
}