/* TODO Reset */

html {
	height: 100%;
	font-family: 'Karla', sans-serif;
}

body {
	height: 100%;
}

header h1 {
	text-transform: uppercase;
	font-weight: normal;
	font-style: normal;
	text-align: center;
	font-size: 20pt;
	margin: 20px;
}

#map_canvas {
	width: 800px;
	height: 600px;
	margin: 0px auto;
}

#map_canvas .place-info-overlay {
	overflow: hidden;
	text-align: center;
	width: 150px;
	margin: 0 auto;
}

#map_canvas .place-info-overlay h2 {
	font-size: 15pt;
	padding-bottom: 5px;
	text-transform: uppercase;
}

#map_canvas .place-info-overlay p {
	font-size: 11pt;
	color: #666;
}

#map_canvas .place-info-overlay p.type {
	font-style: italic;
	font-weight: bold;
	color: #838283;
	padding-bottom: 7px;
}

#faux-select-wrapper {
	position: relative;
	margin: 0px auto;
	width: 800px;
}

#faux-select-wrapper #faux-select {
	position: absolute;
	bottom: 0px;
	left: 0px;
	background: #000;
	color: #fff;
	width: 300px;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	padding: 10px 10px;
}

#faux-select-wrapper #faux-select:hover {
	color: #FF7373;
}

#faux-select-wrapper #menu {
	display: none;
}

#faux-select-wrapper #menu ul {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 320px;
	list-style-type: none;
	background: rgba(0,0,0,0.8);
}

#faux-select-wrapper #menu ul li {
	padding: 10px 10px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	color: white;
}

#faux-select-wrapper #menu ul li:hover {
	background: #000;
	color: #FF7373;
}

#info_block {
	display: none;
	overflow: hidden;
	width: 792px;
	min-height: 100px;
	margin: 0 auto;
	border: 4px solid #AFADAE;
}

#info_block .content {
	padding: 30px;
}

#info_block .content .left {
	width: 350px;
	float: left;
}

#info_block .content .left h3 {
	font-weight: bold;
	margin-bottom: 15px;
}

#info_block .content .left p {
	color: #666;
}

#info_block .content .right {
	width: 350px;
	float: right;
	color: #666;
}

#info_block .content .right .type {
	font-style: italic;
	font-weight: bold;
	padding-bottom: 15px;
}

#info_block .content p {
	line-height: 140%;
}

#json_data {
	display: none;
}